@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --pink: #E6007E;
    --light-pink: #FE7AB6;
    --blue: #00A7FF;
    --yellow: #FFDC00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

/* Header */
#header-container {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    padding-top: 10px;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#logo-container img {
    display: flex;
    width: 70px;
    height: 70px;
}

#logo-container h1 {
    align-self: flex-end;
    padding-left: 10px;
}

#header-container nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#header-container nav ul {
    display: flex;
    list-style-type: none;
}

#header-container nav ul li {
    padding: 0 15px 18px 15px;
}

#header-container nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#header-container nav ul li :is(a:hover, a:focus) {
    color: var(--pink);
    outline: none;
}

/* Main */

/* Main showcase */
main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#showcase-container {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    height: 50vh;
    margin-bottom: 50px;
}

#showcase-paragraph {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
}

#showcase-paragraph h2 {
    font-size: 3rem;
    font-weight: bold;
}

#showcase-paragraph button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: var(--light-pink);
    outline: none;
    border: none;
    font-weight: 500;
}

#showcase-paragraph button:is(button:hover, button:focus) {
    cursor: pointer;
    outline: none;
    transform: scale(0.9);
}

#showcase-picture {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

#showcase-picture img {
    width: 300px;
    height: 300px;
}

/* Sub showcase */
#sub-showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

#sub-showcase-container .mini-section img {
    width: 20px;
    height: 20px;
}

#main-sub-showcase {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 20vh;
    justify-content: space-evenly;
}

#main-sub-showcase figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-sub-showcase figure figcaption {
    margin-top: 10px;
    font-weight: 600;
}

#main-sub-showcase img {
    width: 100px;
    height: 100px;
}

/* New Technologies */
#new-tech {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

#new-tech #nt {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#new-tech #nt #p1 {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

#new-tech #nt h2 {
    font-size: xx-large;
    margin-bottom: 10px;
}

#new-tech #nt p {
    text-align: justify;
    font-size: small;
}

#new-tech #peoples {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}

#new-tech #peoples figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-tech #peoples figure figcaption {
    margin-top: 10px;
}

#new-tech #peoples figure figcaption::first-line {
    font-weight: 600;
}

#new-tech #peoples img {
    width: 120px;
    height: 120px;
}

#new-tech #peoples figure p {
    margin-top: 5px;
    font-size: smaller;
}

#new-tech button {
    margin-top: 30px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--light-pink);
}

#new-tech :is(button:focus, button:hover) {
    transform: scale(0.9);
}

/* Testimonials */
#testimonials {
    width: 80vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#testimonials #main-testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

#testimonials #main-testimonial #p_title {
    font-size: smaller;
    margin-bottom: 10px;
}

#testimonials #main-testimonial h2 {
    font-size: xx-large;
    margin-bottom: 10px;
}

#testimonials #main-testimonial p {
    font-size: small;
    text-align: center;
    margin-bottom: 20px;
}

#testimonials #main-testimonial #name {
    font-size: larger;
    font-weight: 700;
    color: var(--light-pink);
    color: var(--pink);
}

#testimonials .mini-section img {
    width: 20px;
    height: 20px;
}

#contact-header {
    font-size: small;
    margin-bottom: 10px;
}

#contact {
    display: flex;
    width: 80vw;
}

#contact #form {
    width: 50%;
}

#contact #picture img {
    width: 300px;
    height: 300px;
}

#contact #form #form-text {
    margin-bottom: 10px;
}

#contact #form #form-text p {
    font-size: small;
}

#contact #form #input-container {
    display: flex;
    height: 100%;
}

#contact #form #form-input {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 50px);
    gap: 10px;
    padding: 10px 10px 10px 0;
}

#contact #form #form-input #fullname {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 10px;
}

#contact #form #form-input #email {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 10px;
}

#contact #form #form-input #message {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    padding-top: 10px;
    padding-left: 10px;
    font-size: small;
    resize: none;
}

#contact #form #input-container button {
    background-color: var(--light-pink);
    border: none;
    font-weight: 600;
}

#contact #form #input-container button:is(button:hover, button:focus) {
    transform: scale(0.9);
    cursor: pointer;
}

#contact #picture {
    width: 50%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}