@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --pink: #E6007E;
    --blue: #00A7FF;
    --yellow: #FFDC00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

#header-container {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    padding-top: 10px;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#logo-container img {
    display: flex;
    width: 70px;
    height: 70px;
}

#logo-container h1 {
    align-self: flex-end;
    padding-left: 10px;
}

#header-container nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#header-container nav ul {
    display: flex;
    list-style-type: none;
}

#header-container nav ul li {
    padding: 0 15px 18px 15px;
}

#header-container nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#header-container nav ul li a:hover,
#header-container nav ul li a:focus {
    color: var(--pink);
    outline: none;
}